$color-black-100: #091d37;
$color-black-50: #69717a;
$color-black: #000000;
$color-primary: #aecf6d;
$color-secondary: #459ade;
$color-grey-200: #71757a;
$color-grey-100: #888e9a;
$color-grey-90: #e6e8ec;
$color-grey-80: #eff0f1;
$color-grey-70: #f2f3f5;
$color-grey-60: #f3f3f3;
$color-grey-50: #eceef3;
$color-green-10: #f5f8e9;
$color-white: #ffffff;
$color-red: red;
$color-primary-opacity: #e5f7fb;
$color-secondary-title: #666;
$color-grey-text: #f1f1f1;
$color-danger: #e40046;
$color-disable: #897f7f33;
$color-danger-opacity: #e84c4d1a;
$color-secondary-800: #383838;
$color-secondary-600: #263238;
$color-border-secondary: #28282866;
$color-box-shadow: #0000000a;
$color-grey-alpha: #0000001a;
$color-grey-alpha-04: #00000066;
$color-yellowish-grey: #cccccc;
$color-black-alpha: #00000029;
$color-primary-200: #01afd7;
$color-orange-warning: #ff671f;
$MuseoSans: "MuseoSans";
$MuseoSlab: "MuseoSlab";
$color-danger-bg-light: #e4004614;
$color-black-20: #cccccc33;
$color-label-secondary: #282828;
$color-primary-400: #e8f4fc;
$color-label-alpha: rgba(40, 40, 40, 0.9);
